<nav class="pure-g pagination" role="pagination">
	<span class="pure-u-1-2"><a class="pure-button button-xs {{^if next}} pure-button-disabled {{else}} orange-white {{/if}} older-posts" href="{{pageUrl next}}">Älter</a></span>
	<span class="pure-u-1-2"><a class="pure-button button-xs {{^if prev}} pure-button-disabled {{else}} orange-white {{/if}} newer-posts" href="{{pageUrl prev}}">Neuer</a></span>
</nav>