<ul id="pagination" class="pure-g nav">
	<li class="pure-u-1-2"><a class="pure-button button-xs {{^if next}} pure-button-disabled {{else}} orange-white {{/if}}" href="{{pageUrl next}}">&auml;lter</a></li>
	<li class="pure-u-1-2"><a class="pure-button button-xs {{^if prev}} pure-button-disabled {{else}} orange-white {{/if}}" href="{{pageUrl prev}}">neuer</a></li>
</ul>