/* GENERAL STYLES */

html, body {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
}

body {
	background: #FBF9F1;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

hr {
	width: 100%;
	height: 2px;
	border: 0;
	background: #D7CED8;
}


/* DESIGN SPECIFIC PROPS */

/* VENDORS, PLUGINS */

#twitter-timeline {
	display: block;
}

#twitter-timeline *,
#twitter-timeline iframe,
iframe#twitter-widget-0 {
	width: 100%;
	min-width: 100% !important;
}

.twitter-timeline {
	background-color: #323232;
}

#amazon-comercial {
	width: 100%;
	background: #333;
	border-top: 3px solid #FBF9F1; /* fake margin */
	border-bottom: 3px solid #FBF9F1;
	overflow: hidden;
}

#amazon-comercial iframe {
	display: block;
	margin: 0 auto;
}

#disqus_thread {
	padding: 40px 3px 0 3px;
}


/* BLOG CONTENT */

body > main {
    overflow: hidden;
}

#content > header {
	background: #429F8A;
	overflow: hidden;
}

#blog-cover {
	background-color: #FCEDD0;
	background-repeat: no-repeat, no-repeat; /* control multiple images */
	background-position: right bottom, center center;
	background-size: auto 92%, cover;
	background-clip: border-box, content-box; /* visibly overflow to the right */
	margin-right: -28px;
	padding-right: 28px;
	z-index: 10;
	min-height: 300px;
	position: relative;
}

#blog-logo,
#blog-title {
	position: absolute;
	top: 150px;
	left: 0;
	right: 28px;
	margin: 0 auto;
}

#blog-logo {
	top: 40px;
	width: 160px;
	height: 160px;
	background-size: contain !important;
	background-position: center center;
	background-repeat: no-repeat !important;
	text-indent: -99999px;
}

#blog-title {
	margin: 0;
	max-width: 100%;
	color: #F5A623;
	text-align: center;
	text-decoration: none;
}

#blog-description {
    width: 80%;
	display: block;
	position: absolute;
	bottom: -15px;
	text-align: center;
	color: red;
}

#blog-subscription {
    margin-top: 20px;
}

#ghostwriter div {
	word-wrap: break-word; /* break even characters */
	text-transform: uppercase;
	text-align: center;
	margin: 30px 20px;
}

#ghostwriter-advert {
	color: #FCEDD0;
	text-decoration: none;
}

#ghostwriter hr, .post hr {
    width: 40%;
    background: #FCEDD0;
}

#posts_list { /* ghost partial */
    display: inline-block;
}

#posts_list .pure-button {
    color: #429F8A;
    background: #2C6458;
}

#content {
	z-index: 20; /* overlay #content over #twitter-timeline */
}

#content > * {
    margin-left: 3px;
}

#content > article {
    position: relative;
}

#content > article img {
    max-width: 100%;
}

.post-wrapper {
    background: #E7DDE8;
    position: relative;
    overflow: hidden;
}

.post {
    color: #FCEDD0;
    background: #429F8A;
    margin-bottom: 1px;
    text-align: center;
    font-size: 14px;
    padding: 20px 20px 20px 20px;
}

.post-title {
	font-size: 24px;
}

.post-date {
    color: #2C6458;
	font-size: 18px;
}

.post-content {
	margin: 20px auto;
    padding: auto 4px;
}

img.post-image { /* {{image}} */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

img.featured-ribbon { /* featured posts */
    z-index: 30;
	position: absolute;
    top: -12px;
    right: calc(50% - 12px);
}

ul.nav {
    background: #434343;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

ul.nav li {
    background: #333;
    margin: 1px 0;
    margin-top: 0;
    padding: 10px 20px;
}

ul.nav li a {
    color: #F5A623;
    text-decoration: none;
    display: block;
    width: 100%;
}

ul.nav li:hover,
ul.nav li a:hover {
    color: #fff;
    background: #434343;
}

#pagination {
    text-align: center;
    margin: 2px 0 2px 0;
}

#pagination .pure-button {
    background: #F5A623;
    width: 100%;
    padding: 10px 0 10px 0;
}

.pure-button {
    white-space: normal; /* allow text wrapping inside buttons */
}

.button-xs {font-size: 70%;}
.button-s {font-size: 83%;}
.button-l {font-size: 113%;}
.button-xl {font-size: 125%;}

.button-success {background: rgb(28, 184, 65);}
.button-error {background: rgb(202, 60, 60);}
.button-warning {background: rgb(223, 117, 20);}
.button-secondary {background: rgb(66, 184, 221);}


/* RESPONSIVE MEDIA QUERIES */

@media screen and (max-width: 48em) { /* do smaller devices <= pure-u-sm- */
	#twitter-timeline {
		display: none;
	}

    #blog-description {
        width: 100%;
    }

	#posts_list {
		display: none;
	}

	#content > * {
		margin-left: 3px;
	}

    #content > * {
        margin-left: 0;
    }

    ul.nav {
        text-align: center;
        margin: 1px 0;
    }

    ul.nav li {
        display: inline-block;
        margin: 1px;
    }
}

@media screen and (max-width: 35.5em) {
    img.post-image { /* {{image}} */
        position: static;
        width: 100%;
        margin: 0;
    }

    img.featured-ribbon { /* featured posts */
        right: -12px;
    }

    ul.nav li {
        display: block;
    }
}